<%= form_with model: [ @article, @article.comments.build] do |form|%>
    <form>
        <p class= "mb-3">
            <%= form.label :commenter, class: "form-label"%><br>
            <%= form.text_field :commenter, class: "form-control"%>
        </p>
        <p class= "mb-3">
            <%= form.label :body , class: "form-label"%><br>
            <%= form.text_area :body,class: "form-control"%>
        </p>
        <p class= "mb-3">
            <%= form.label :status%><br>
            <%= form.select :status, ['public', 'private', 'archived'], selected: 'public'%>
        </p>
        <p class = "mb-3">
            <%= form.submit%>
        </p>
    </form>
<%end%>
